
.texto {
    font-size: 35px;
    justify-content: center;
    color: #284b63;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}